@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body{
        @apply h-screen bg-bg text-white
    };
    .nav-item svg{
        @apply text-rose-600 
    }

}

@layer components{
    .navbar{
        @apply md:h-screen p-4 bg-bg-light sm:flex-row sm:flex md:flex md:flex-col items-center justify-between 
    }
    .nav-links{
        @apply flex items-center sm:flex-row md:flex-col
    }
   .nav-link-active{
    @apply text-rose-600 bg-gray-700/25
   }
}

.swiper-pagination-bullet{
    transition: all .2s;
    background: #07A5E0 !important;
    height: 8px !important;
    width: 8px !important;
    opacity: .5 !important;
    margin: 0 6px !important;
}

.swiper-pagination-bullet-active{
    background: #07A5E0 !important;
    width: 24px !important;
    border-radius: 8px !important;
    opacity: 1 !important;
}